[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlrd = "==1.1.0"
pandas = "==0.23.4"
sortedcontainers = "==2.0.5"
numpy = "==1.15.2"
pytz = "==2018.5"
atomicwrites = "==1.1.5"
attrs = "==18.1.0"
"beautifulsoup4" = "==4.6.3"
"bs4" = "==0.0.1"
certifi = "==2018.8.13"
chardet = "==3.0.4"
idna = "==2.7"
more-itertools = "==4.3.0"
pipenv = "==2018.10.13"
pluggy = "==0.7.1"
pprint = "==0.1"
py = "==1.5.4"
python-dateutil = "==2.7.3"
requests = "==2.19.1"
six = "==1.11.0"
"urllib3" = "==1.23"
virtualenv = "==16.0.0"
virtualenv-clone = "==0.4.0"
simplejson = "*"

[dev-packages]
pytest = "==3.8.2"
coverage = "==4.5.1"

[requires]
python_version = "3.7"
